<div class="row">

  <%= render partial: 'common/left_side_bar' %>

  <div class="col-md-9">

    <%= render partial: 'home/home_slider' %>

    <div class="row">
      <% @products.each do |product| %>
        <%= render partial: 'common/product', locals: { product: product } %>
      <% end %>
      <%= render partial: 'common/more_product'%>
    </div>

</div>
