<div class="col-md-3">
  <p class="lead">My Account</p>
  <div class="list-group">
    <%= link_to('Edit Profile', edit_user_registration_path, class: 'list-group-item') %>
    <%= link_to('My Orders', my_orders_path, class: 'list-group-item') %>
  </div>
</div>
